.card {
  padding: 2em;
}
.card p {
  text-align: left;
  font-size: 2rem;
  border-right: 1px solid;
  white-space: wrap;
  overflow: auto;
  width: 100%;
  animation: cursor 0.75s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
